<section class="donate-section">
  <h3 class="section-intro">¿Dónde se destinará tu inversión?</h3>
  <p class="section-answear">
    El <span class="remarked-text">10% de tu inversión</span> se donará a todas aquellas ONGs cuyas
    web ha creado TWS. Es decir, tú también recibirás una donación de TWS.
    <span class="info-button" (click)="showText()">{{ infoButtonText }}</span>
  </p>
  <p class="additional-info" [hidden]="textVisiblity">
    TWS donará el 10% del importe total recibido durante el ejercicio en curso a todas las ONG cuya
    página web haya creado durante el mismo ejercicio. El importe total se repartirá a partes
    iguales. Las transferencias se harán durante la primera quincena de enero y se publicarán en
    esta misma página web. Hasta Enero de 2026 no habrá nada publicado porque TWS arranca en 2025.
  </p>
</section>
