<section class="who-section">
  <div class="who-text-and-button">
    <p class="section-intro">¿Quién va a crear tu web?</p>
    <p class="section-answear">
      TWS nace con el propósito de seguir aportando algo al Tercer Sector. Tras cuatro años
      trabajando en una Fundación, me lancé a la programación. Quiero crear páginas capaces de
      generar visitas de colaboradores potenciales, perdurables sin apenas mantenimiento y
      escalables.
    </p>
    <a class="who-link" href="https://www.linkedin.com/in/beatrizrodriguezmaya/"
      ><i class="fa-brands fa-linkedin-in"></i> Más sobre mí</a
    >
  </div>
</section>
