<div class="banner-text-and-button">
  <h1 class="page-title">Tu web, aún más solidaria</h1>
  <h2 class="page-subtitle">
    Por fin tu web. Sin invertir demasiado tiempo y dinero. Colaborando con entidades como la tuya.
  </h2>
  <div class="buttons-container">
    <app-button
      [buttonStyle]="'coloured-button'"
      [buttonText]="'Solicitar web'"
      [buttonLink]="'mailto:contacto@tuwebsolidaria.com'"
    ></app-button>
    <app-button
      [buttonStyle]="'white-button'"
      [buttonText]="'Descargar precios'"
      [buttonLink]="'assets/tws-tu-web-solidaria-precios.pdf'"
    ></app-button>
  </div>
  <ul class="main-info">
    <li>
      <i class="fa-solid fa-hand-holding-heart"></i>
      <p>Parte de tu inversión se donará a otras ONG</p>
    </li>

    <li>
      <i class="fa-solid fa-heart-pulse"></i>
      <p>Creada por alguien con experiencia en ONG</p>
    </li>
  </ul>
</div>
<img class="main-img" src="assets/web-para-ong-tws.webp" alt="tu-web-solidaria" />
